@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  background: #1c1c1c;
  color: #f73d93;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  border: 10px solid #f73d93;
  border-radius: 15px;
  padding: 10px;
}
